@import "src/assets/colors"
.input-container
  width: 80%
  height: 100px
  margin: auto
  button
    background-color: white
    margin-left: 50px

.container
  display: flex
  width: 80%
  margin: auto
  justify-content: space-between
  background-color: $background-color
  .mad-list,
  .sad-list,
  .glad-list
    width: 30%
  h2
    text-align: center
    font-weight: bold
  mat-card
    color: white
    font-weight: bold
    margin-top: 10px
    .buttons
      display: flex
      justify-content: flex-end
  .glad-card
    background-color: $glad-color
  .sad-card
    background-color: $sad-color
  .mad-card
    background-color: $mad-color
  .comments
    font-weight: normal
