<div class="input-container">
  <p>Here you can add item to Glad List. Don`t worry! After adding you will be able drag it into other lists :)</p>
  <input matInput type="text" [(ngModel)]="itemToAdd">
  <button mat-button *ngIf="itemToAdd" matSuffix mat-icon-button (click)="addItem()">
    <mat-icon>plus_one</mat-icon>
  </button></div>
<div class="container">
  <div class="mad-list"
       cdkDropList
       #madDropList = "cdkDropList"
       [cdkDropListData]="madList"
       [cdkDropListConnectedTo]="[sadDropList, gladDropList]"
       (cdkDropListDropped)="onDrop($event)"
  >
    <h2>Mad</h2>
    <mat-card cdkDrag class="mad-card"  *ngFor="let item of madList">
      {{item.issue}}
      <div class="buttons">
        <button mat-button matSuffix mat-icon-button (click)="addCommentBox(item, 'mad')">
          <mat-icon>comment</mat-icon>
        </button>
        <button *ngIf="!item.isLiked" mat-button matSuffix mat-icon-button (click)="likeItemMad(item)">
          <mat-icon>favorite_border</mat-icon>
        </button>
        <button *ngIf="item.isLiked" mat-button matSuffix mat-icon-button (click)="likeItemMad(item)">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <div class="comments" *ngIf="item.comments.length>0 || isMadComment">
        <input matInput type="text" *ngIf="isMadComment" [(ngModel)]="commentToAdd">
        <button *ngIf="isMadComment" mat-button matSuffix mat-icon-button (click)="addCommentMad(item)">
          <mat-icon>plus_one</mat-icon>
        </button>
        <p *ngFor="let comment of item.comments">{{comment}}</p>
      </div>
    </mat-card>
  </div>

  <div class="sad-list"
       cdkDropList
       #sadDropList = "cdkDropList"
       [cdkDropListData]="sadList"
       [cdkDropListConnectedTo]="[madDropList, gladDropList]"
       (cdkDropListDropped)="onDrop($event)"
  >
    <h2>Sad</h2>
    <mat-card cdkDrag class="sad-card" *ngFor="let item of sadList">
      {{item.issue}}
      <div class="buttons">
        <button mat-button matSuffix mat-icon-button (click)="addCommentBox( item, 'sad')">
          <mat-icon>comment</mat-icon>
        </button>
        <button *ngIf="!item.isLiked" mat-button matSuffix mat-icon-button (click)="likeItemSad(item)">
          <mat-icon>favorite_border</mat-icon>
        </button>
        <button *ngIf="item.isLiked" mat-button matSuffix mat-icon-button (click)="likeItemSad(item)">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <div class="comments" *ngIf="item.comments.length>0 || isSadComment">
        <input matInput type="text" *ngIf="isSadComment" [(ngModel)]="commentToAdd">
        <button *ngIf="isSadComment" mat-button matSuffix mat-icon-button (click)="addCommentSad(item)">
          <mat-icon>plus_one</mat-icon>
        </button>
        <p *ngFor="let comment of item.comments">{{comment}}</p>
      </div>
    </mat-card>
  </div>

  <div class="glad-list"
       cdkDropList
       #gladDropList = "cdkDropList"
       [cdkDropListData]="gladList"
       [cdkDropListConnectedTo]="[madDropList, sadDropList]"
       (cdkDropListDropped)="onDrop($event)">
    <h2>Glad</h2>
    <mat-card cdkDrag class="glad-card"  *ngFor="let item of gladList">
      {{item.issue}}
      <div class="buttons">
        <button mat-button matSuffix mat-icon-button (click)="addCommentBox( item, 'glad')">
          <mat-icon>comment</mat-icon>
        </button>
        <button *ngIf="!item.isLiked" mat-button matSuffix mat-icon-button (click)="likeItemGlad(item)">
          <mat-icon>favorite_border</mat-icon>
        </button>
        <button *ngIf="item.isLiked" mat-button matSuffix mat-icon-button (click)="likeItemGlad(item)">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <div class="comments" *ngIf="item.comments.length>0 || isGladComment">
        <input matInput type="text" *ngIf="isGladComment" [(ngModel)]="commentToAdd">
        <button *ngIf="isGladComment" mat-button matSuffix mat-icon-button (click)="addCommentGlad(item)">
          <mat-icon>plus_one</mat-icon>
        </button>
        <p *ngFor="let comment of item.comments">{{comment}}</p>
      </div>
    </mat-card>
  </div>

</div>
